body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #434455;
}

ul {
  list-style-type: none;
}

.logo-link-header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

.navigation {
  font-weight: 500;
  color: #2e2f42;
}

.studio-link:hover,
.studio-link:focus {
  color: #404bbf;
}
.studio-link:active {
  color: #404bbf;
  text-decoration: underline;
}

.portfolio-link:hover,
.portfolio-link:focus {
  color: #404bbf;
}
.portfolio-link:active {
  color: #404bbf;
  text-decoration: underline;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.contacts-link:active {
  color: #404bbf;
  text-decoration: underline;
}

.adrs-email:hover,
.adrs-tel:hover {
  color: #404bbf;
}

.hero-image {
  background-color: #2e2f42;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
}

.hero-btn {
  cursor: pointer;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  letter-spacing: 4%;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
}

.section-two {
  background-color: #f4f4fd;
}

.team-mmbr {
  background-color: #ffffff;
}

footer {
  background-color: #2e2f42;
}

.footer-text {
  color: #f4f4fd;
}

.logo-link-footer {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #f4f4fd;
}
/* .navigation {
  font-weight: 500;
  color: #2e2f42;
}

.navigation:hover,
.navigation:focus {
  color: #404bbf;
}

.navigation:active {
  color: #404bbf;
  text-decoration: underline;
}*/
